<!DOCTYPE html>
<html lang='zh'>

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Template</title>

  <link href="jslib/bootstrap.min.css" rel="stylesheet">
  <script src="jslib/bootstrap.bundle.min.js"></script>
  <script src="jslib/feather-4.28.0.min.js"></script>
  <script src="jslib/jquery-3.5.1.js"></script>
</head>

<body>
    <div class="container">
        
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index.html">Back to Index</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
          <div class="nav-item text-nowrap text-white">
            Nav可Container内，可外. header 内容靠右平均分布
          </div>
        </div>
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Sign out</a>
          </div>
        </div>
      </nav>
    </div>
</body>

</html>