<!DOCTYPE html>
<html lang='zh'>

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Template</title>

  <link href="css/frame_base.css" rel="stylesheet">


  <link href="jslib/bootstrap.min.css" rel="stylesheet">
  <script src="jslib/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="jslib/prism.css">
  <script src="jslib/prism.js"></script>


  <script src="jslib/feather-4.28.0.min.js"></script>
  <script src="jslib/jquery-3.5.1.js"></script>

  <script src="js/frame_base.js"></script>
</head>

<body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" id="page_header">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index.html">Back to Index</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>All menus</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2" id="menu_box">
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="zh-example" data-category="form 提交验证"></div>
        <div class="zh-example">
          <p class="content">form提交时，要 js 提交，但想调用 form 的默认验证。</p>
          <form action="" id="form01">
            <input type="text" required />
            <button>Submit</button>
          </form>
          <script class="stage">
            // 第一种是拦截form提交
            let form01 = document.querySelector('#form01');
            form01.addEventListener('submit', (e) => {
              e.preventDefault();  // 阻止表单提交行为
              const isValid = e.target.checkValidity(); // 执行表单验证检查
              console.log(isValid); // 输出验证结果
            });

            // 第二种是调用 from 的验证
            function submitBtnClick(){
              let form01 = document.querySelector('#form01');
              // from.reportValidity() 会执行 checkValidity() 并且显示浏览的默认提示。  
              if(from01.reportValidity()){
                // 做接下来的事
              }
            }
          </script>
        </div>


        <div class="zh-example" data-category="scroll 滚动到底部"></div>
        <div class="zh-example">
          <script class="stage">
            let ele = document.getElementsByTagName('html')[0];
            ele.scrollTop = ele.scrollHeight;  // 把元素滚动到的位置设置为元素的高度
          </script>
        </div>


        <div class="zh-example" data-category="字符串常用方法"></div>
        <div class="zh-example">
          <script class="stage">
            let s1 = 'abc', s2 = 'def';
            s1.localeCompare(s2);  // 比较字符串大小  1 s1 大, -1 s1 小, 0 相等
          </script>
        </div>


        <div class="zh-example" data-category="模板字符串"></div>
        <div class="zh-example">
          <input type="text" id="str1" value="abc">
          <button onclick="useStrTemplate()">使用字符串模板</button>
          <input type="text" id="str2">
          <script class="stage">
            function useStrTemplate(){
              let text = $('#str1').val();
              let str = `模板内容加上${text}`;
              console.log('str', str);
              $('#str2').val(str);
            }
          </script>
        </div>

        
        <div class="zh-example" data-category="数组常用方法"></div>
        <div class="zh-example">
          <script class="stage">
            let arr01 = [1,2,3,4];
            arr01.sort();  // 数组排序  
            function cmp01(a, b){return a - b;}
            arr01.sort(cmp01); // 数组用自定义方法排序
          </script>
        </div>

      </main>
    </div>
  </div>
</body>
<script>
  /**
   * .zh-example 块有标题和数据块两种，标题块是有 data-category 属性的， 统一处理。
   * 数据块每个页面自己处理。
   */
  function processCode(example, index) {

    const stage = $(".stage", example);
    stage.attr('id', "stage_" + index);
    let html = fbase.escapeHtml(stage.html());
    html = html.replace(/^\s{10}/gm, '');

    const codeBox = fbase.createCodeBlock('js', html, index);

    example.append(codeBox);
  }
  fbase.initPageContent(processCode);
  feather.replace({ 'aria-hidden': 'true' })
</script>

</html>