<!DOCTYPE html>
<html lang='zh'>

<head>
    <meta charset="utf-8">
    <title>bar chart</title>
    <script src="lib/d3.js"></script>
</head>

<body>
    <div style="font: 10px sans-serif; text-align: right; color: white;">
        <div style="background: steelblue; padding: 3px; margin: 1px; width: 40px;">4</div>
        <div style="background: steelblue; padding: 3px; margin: 1px; width: 80px;">8</div>
        <div style="background: steelblue; padding: 3px; margin: 1px; width: 150px;">15</div>
        <div style="background: steelblue; padding: 3px; margin: 1px; width: 160px;">16</div>
        <div style="background: steelblue; padding: 3px; margin: 1px; width: 230px;">23</div>
        <div style="background: steelblue; padding: 3px; margin: 1px; width: 420px;">42</div>
    </div>
    <div id="box">

    </div>
    <button onclick="createBar()">Create Bar</button><br>
    <svg width="420" height="120" font-family="sans-serif" font-size="10" text-anchor="end">
        <g transform="translate(0,0)">
            <rect fill="steelblue" width="40" height="19"></rect>
            <text fill="white" x="37" y="9.5" dy=".35em">4</text>
        </g>
        <g transform="translate(0,20)">
            <rect fill="steelblue" width="80" height="19"></rect>
            <text fill="white" x="77" y="9.5" dy=".35em">8</text>
        </g>
        <g transform="translate(0,40)">
            <rect fill="steelblue" width="150" height="19"></rect>
            <text fill="white" x="147" y="9.5" dy=".35em">15</text>
        </g>
        <g transform="translate(0,60)">
          <rect fill="steelblue" width="160" height="19"></rect>
          <text fill="white" x="157" y="9.5" dy=".35em">16</text>
        </g>
        <g transform="translate(0,80)">
            <rect fill="steelblue" width="230" height="19"></rect>
          <text fill="white" x="227" y="9.5" dy=".35em">23</text>
        </g>
        <g transform="translate(0,100)">
            <rect fill="steelblue" width="420" height="19"></rect>
            <text fill="white" x="417" y="9.5" dy=".35em">42</text>
        </g>
    </svg>
    <br>
    <div id="svg"></div>
    <button onclick="createSvgBar()">Create svg Bar</button><br>
    <div id="axis"></div>
    <div id="axisdata"></div>
</body>
<script>
data = [4, 8, 15, 16, 23, 42];
width = 800;
// 线性扩展函数
let x = d3.scaleLinear()
    .domain([0, d3.max(data)])
    .range([0, width]);
// 创建 div 的图
function createBar() {
    const div = d3.create("div")
        .style("font", "10px sans-serif")
        .style("text-align", "right")
        .style("color", "white");
    div.selectAll("div")
        .data(data)
        .join("div")
        .style("background", "steelblue")
        .style("padding", "3px")
        .style("margin", "1px")
        .style("width", d => `${x(d)}px`)
        .text(d => d);

    d3.select("div#box").html(div.node().outerHTML);
    console.log(div.node())
}

let y = d3.scaleBand()
    .domain(d3.range(data.length))
    .range([0, 20*data.length]);
// 创建 svg 格式的图
function createSvgBar(){
    const svg = d3.create("svg")
      .attr("width", width)
      .attr("height", y.range()[1])
      .attr("font-family", "sans-serif")
      .attr("font-size", "10")
      .attr("text-anchor", "end");

  const bar = svg.selectAll("g")
    .data(data)
    .join("g")
      .attr("transform", (d, i) => `translate(0,${y(i)})`);

  bar.append("rect")
      .attr("fill", "steelblue")
      .attr("width", x)
      .attr("height", y.bandwidth() - 1);

  bar.append("text")
      .attr("fill", "white")
      .attr("x", d => x(d) - 3)
      .attr("y", (y.bandwidth() - 1) / 2)
      .attr("dy", "0.35em")
      .text(d => d);

    d3.select("div#svg").html(svg.node().outerHTML);
  return svg.node();  
}

// 常量设置
csvFile = `letter,frequency
A,0.08167
B,0.01492
C,0.02782
D,0.04253
E,0.12702
F,0.02288
G,0.02015
H,0.06094
I,0.06966
J,0.00153
K,0.00772
L,0.04025
M,0.02406
N,0.06749
O,0.07507
P,0.01929
Q,0.00095
R,0.05987
S,0.06327
T,0.09056
U,0.02758
V,0.00978
W,0.0236
X,0.0015
Y,0.01974
Z,0.00074`;
// data2 = d3.csvParse(await FileAttachment("alphabet.csv").text(), d3.autoType);
data2 = d3.csvParse(csvFile, d3.autoType);
margin = ({top: 20, right: 0, bottom: 30, left: 40});
height = 300;
y2 = d3.scaleLinear()
    .domain([0, d3.max(data2, d => d.frequency)])
    .range([height - margin.bottom, margin.top])

x2 = d3.scaleBand()
    .domain(data2.map(d => d.letter))
    .rangeRound([margin.left, width - margin.right])
    .padding(0.1)
// 创建坐标轴
function createAxis(){
    const svg = d3.create("svg")
        .attr("viewBox", [0, 0, width, height]);

    svg.append("g")
        .attr("transform", `translate(0,${height - margin.bottom})`)
        .call(d3.axisBottom(x2));

    svg.append("g")
        .attr("transform", `translate(${margin.left},0)`)
        .call(d3.axisLeft(y2));

    d3.select("div#axis").html(svg.node().outerHTML);
    return svg.node();
}

yTitle = g=>g.append("text")
    .attr("font-family", "sans-serif")
    .attr("font-size", 10)
    .attr("y", 10)
    .text("↑ Frequency");
yAxis = g => g
    .attr("transform", `translate(${margin.left},0)`)
    .call(d3.axisLeft(y2).ticks(null, "%"))
    .call(g => g.select(".domain").remove())
xAxis = g => g
    .attr("transform", `translate(0,${height - margin.bottom})`)
    .call(d3.axisBottom(x2).tickSizeOuter(0))

// 创建坐标轴和数据
function createAxisAndData(){
    const svg = d3.create("svg")
        .attr("viewBox", [0, 0, width, height]);

    svg.append("g")
        .attr("fill", "steelblue")
    .selectAll("rect")
    .data(data2)
    .join("rect")
        .attr("x", d => x2(d.letter))
        .attr("y", d => y2(d.frequency))
        .attr("height", d => y2(0) - y2(d.frequency))
        .attr("width", x2.bandwidth());

    svg.append("g")
        .call(xAxis);

    svg.append("g")
        .call(yAxis);

    svg.call(yTitle);

    d3.select("div#axisdata").html(svg.node().outerHTML);

    return svg.node();
}
createAxis();
createAxisAndData();

</script>

</html>